{% extends 'base.html' %} {% load static %} {% block nav-items %}
<li class="nav-item">
  <a class="nav-link" href="#">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Plans</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Nutrition</a>
</li>
{% endblock nav-items %}

{% block title-content %}
<div class="row">
  <div class="col-lg-6">
    <h2 class="quote">Sore today.</h2>
    <h2 class="quote">Strong tomorrow.</h2>
    <h2 class="quote">Start your fitness journey with us.</h2>
    <br />
    <br />
  </div>
</div>

{% endblock title-content %} 


{% block main %}

<!-- Features -->

<section id="features">
  <div class="row">
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-dumbbell fa-5x"></i>
      <h3>Customised plans.</h3>
      <p>Workout plans based on your goals.</p>
    </div>
    <div class="feature-box col-lg-4">
      <i class="icon fab fa-nutritionix fa-5x"></i>
      <h3>Nutrition assistance</h3>
      <p>Diet and supplement assistance based on your goals.</p>
    </div>
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-heartbeat fa-5x"></i>
      <h3>Perfomance analysis.</h3>
      <p>We analyse and improve your perfomance.</p>
    </div>
  </div>
</section>

<!-- Testimonials -->

<section id="testimonials">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2 class="review">
          Excellent personal training. Trainers who really care and go above and
          beyond to help you achieve your goals. Gym that feels more personal.
          Highly recommended!.
        </h2>
        <img
          class="testimonial-image"
          src="{% static 'images/client1.jpeg' %}"
          alt="client"
        />
        <em style="color: white; font-size: 1.5rem">- Kumar</em>
      </div>
      <div class="carousel-item">
        <h2 class="review">
          Spartans gym is awesome. Their trainers are exceptional, the overall
          vibe is great and I have had nothing but good experiences. I
          definitely recommend them to my friends and family.
        </h2>
        <img
          class="testimonial-image"
          src="{% static 'images/client2.jpg' %}"
          alt="client"
        />
        <em style="color: white; font-size: 1.5rem">- Christina</em>
      </div>
      <div class="carousel-item">
        <h2 class="review">
          Spartans is hands-down my favorite gym. The workouts are always new
          and engaging and the instructors care about not only getting you to
          sweat, but also making sure you are staying safe.
        </h2>
        <img
          class="testimonial-image"
          src="{% static 'images/client3.jpg' %}"
          alt="client"
        />
        <em style="color: white; font-size: 1.5rem">- Roshan</em>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<!-- Pricing -->

<section id="pricing">
  <h2>A Plan for Every Dog's Needs</h2>
  <p>Simple and affordable price plans for your and your dog.</p>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <h3 class="card-header">Standard</h3>
        <img
          class="card-img-top"
          src="{% static 'images/standard.PNG' %}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4>Rs.1000/month</h4>
          <br />
          <p class="card-text">General workout plan.</p>
          <p class="card-text">General nutrition guidance.</p>
          <a href="#" class="btn btn-lg btn-block btn-dark">Buy</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <h3 class="card-header">Advanced</h3>
        <img
          class="card-img-top"
          src="{% static 'images/advanced.PNG' %}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4>Rs.2000/month</h4>
          <br />
          <p class="card-text">Customised workout plan.</p>
          <p class="card-text">Customised nutrition guidance.</p>
          <a href="#" class="btn btn-lg btn-block btn-dark">Buy</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <h3 class="card-header">Premium</h3>
        <img
          class="card-img-top"
          src="{% static 'images/premium.PNG' %}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4>Rs.15000/year</h4>
          <br />
          <p class="card-text">Special workout plans with personal training.</p>
          <p class="card-text">Specialised nutrition guidance.</p>
          <a href="#" class="btn btn-lg btn-block btn-dark">Buy</a>
        </div>
      </div>
    </div>
  </div>
</section>



  <!-- Call to Action -->

  <section id="cta">

    <h3 class="cta-text">Make fitness a habit. Be the best version of yourself.</h3>
    <button class="download-button btn btn-lg btn-outline-light" type="button"><i class="fab fa-apple"></i> Download</button>
    <button class="download-button btn btn-lg btn-light" type="button"><i class="fab fa-google-play"></i> Download</button>

  </section>

{% endblock main %}
